[general]
; Port range for automatic port generation
; minport = 8000
; maxport = 9000

; NOTE: all paths should exist beforehead

; Path for job JSONs
; job_path = "/tmp/jobs"

; prinf pattern for job filenames (.json is auto)
; Short usage, the following gets substituted:
; %1$llu  is timestamp (guint64)
; %2$lu   is random integer (guin32)
; %3$s    is md5 of (timestamp + plugin name + random integer)
; %4$s    is plugin name ("janus.plugin.cm.rtpbroadcast")
; job_pattern = "job-%3$s"

; Path for recording and thumbnailing
; archive_path = "/tmp/recordings"

; printf pattern for recordings filenames
; Short usage, the following gets substituted:
; %1$s    is streamChannelKey (string)
; %2$llu  is timestamp (guint64)
; %3$s    is type ("audio", "video" or "thumb" string)
; recording_pattern = "rec-%1$s-%2$llu-%3$s"

; Same for thumbnails
; thumbnailing_pattern = "thum-%1$s-%2$llu-%3$s"

; Thumbnailing interval in seconds
; thumbnailing_interval = 60

; Thumbnailing duration in seconds
; thumbnailing_duration = 10
